<li id="task-item-{{@task.id}}" class="list-group-item d-flex justify-content-between align-items-center">

  {{!-- Data --}}
  {{#if this.editMode }}
    <Input 
      id="update-task-input-{{@task.id}}"
      @type="text" 
      class="form-control form-control-sm me-3" 
      placeholder="{{@task.description}}"
      @value={{ this.updatedTaskDesc }}
      @enter={{ this.onUpdateDescInputEnter }}
      autocomplete="off"
    />
  {{else}}
    <div class="app-small-text">
      <input id="complete-task-check-{{@task.id}}" class="form-check-input me-1" type="checkbox" value="" checked={{@task.completed}} {{on 'change' this.onToggleDoneTask }}>
      <label class="form-check-label" for="complete-task-check-{{@task.id}}">{{@task.description}}</label>
    </div>
  {{/if}}

  {{!-- Actions --}}
  <div class="d-flex align-items-center gap-2">
  {{#if this.editMode }}
    <button class="app-small-circle-btn" type="button" {{on 'click' this.onExitEditMode }}>
      <img src="/assets/cancel.svg" alt="cancel" width="16" />
    </button>
    <button 
          class="app-small-circle-btn" 
          type="button" 
          disabled={{this.disableUpdateBtn}} 
          {{on 'click' this.onUpdateTask }}>
      <img src="{{ if this.disableUpdateBtn '/assets/check-disabled.svg' '/assets/check.svg'}}" width="16" alt="check" />
    </button>
  {{else}}
    <button class="app-small-circle-btn" type="button" {{on 'click' this.onEnterEditMode }}>
      <img src="/assets/pencil.svg" alt="Editar" width="16" />
    </button>
    <button class="app-small-circle-btn" type="button" {{on 'click' this.onDeleteTask }}>
      <img src="/assets/trash.svg" alt="Borrar"  width="16" />
    </button>
  {{/if}}
  </div>

</li>